/* font-start */
@font-face {
  font-family: Circular-Medium;
  src: url(../fonts/Circular-Medium.ttf);
}
.font-circular-medium {
  font-family: Circular-Medium !important;
}
@font-face {
  font-family: CircularPro-Bold;
  src: url(../fonts/lineto-circular-pro-bold-webfont.ttf);
}
.font-CircularPro-Bold {
  font-family: CircularPro-Bold !important;
}
@font-face {
  font-family: CircularPro-Book;
  src: url(../fonts/lineto-circular-pro-book-webfont.ttf);
}
.font-CircularPro-Book {
  font-family: CircularPro-Book !important;
}
@font-face {
  font-family: AgencyFB-Bold;
  src: url(../fonts/AgencyFB/AgencyFB-Bold.ttf);
}
/* font-end */
.container {
  max-width: 770px;
}
body {
  font-family: Circular-Medium;
  background: url(../images/background.png) no-repeat;
  background-size: cover;
}
p {
  font-family: CircularPro-Book;
  color: #808080;
}
.automobiles {
  color: rgb(248, 187, 0);
  font-size: 16px;
  padding: 13px;
}
.automobiles:hover {
  color: rgb(233, 176, 4);
}
.exotic {
  color: #c1c1c1;
  font-size: 30px;
  padding: 27px 0;
  font-family: AgencyFB-Bold;
  letter-spacing: 6px;
}

.tooltip .tooltip-inner {background-color: #303030;}
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #303030;
}

 
.navbar {
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  /* background-color: rgb(255, 255, 255); */
  /* opacity: 0.65; */
  box-shadow: 0px 1px 3px 0px rgba(29, 26, 27, 0.2);
  /* background-blend-mode: screen; */
}
.my-navbar-collapse {
  flex-basis: calc(100% - 101px);
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler:hover {
  background-color: #ececec;
}
.center-navbar-items {
  max-width: 746px;
  padding: 10px 10px 0 0;
}
.center-navbar-items-wrapper {
  left: 25%
}
.center-navbar-item {
  padding: 12px 16px 14px 16px;
}
.active-center-navbar-item {
  border-bottom: 3px solid rgb(248, 187, 0);
}
 
.profile {
  padding-top: 5px;
  padding-right: 20px;
}
.show-notification-dot::after{
  content: "";
  background: url(../images/notification-dot.png) no-repeat;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 2px;
  left: 17px;
  background-size: contain;
}
.bell-dropdown-link {
  padding-right: 34px;
}
.bell-img {
  padding-top: 10px;
}
.profile-pic {
  padding-right: 8px;
}
.profile-dropdown-link {
  text-decoration: none;
  color: #000000 !important;
}
.profile-user-name {
  font-family: CircularPro-Book;
  font-size: 16px;
}
.profile-caret {
  padding-left: 10px;
}







.search-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(29, 26, 27, 0.2);
  border-radius: 25px;
}
.search-input::placeholder {
  font-family: CircularPro-Book;
  font-size: 16px;
}
.search-input {
  padding: 10px 10px 10px 4px;
}
.logo {
  padding-left: 8px;
}
.navbar-height {
  line-height: 43px;
}


/* sections-posting */
.posting-section {
  padding: 117px 0 243px 0;
}
.post-input::placeholder {
  font-family: CircularPro-Book;
  font-size: 18px;
}
.posting-box {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px 0px rgba(29, 26, 27, 0.1);
}
.posting-form {
  padding-bottom: 19px;
  padding: 11px 11px 6px 11px;
}
.posting-btns {
  padding: 11px 11px 6px 11px;
  border-top: 2px dotted #ebebeb;
}
.active-btn {
  background-color: rgb(248, 187, 0);
  color: white;
  padding: 8.5px 68px;
  border-radius: 25px;
}
.inactive-btn:hover {
  background-color: white;
  border: 1px solid rgb(248, 187, 0);
  color: rgb(248, 187, 0);
}
.inactive-btn:hover .inactive {
  filter: invert(57%) sepia(84%) saturate(542%) hue-rotate(9deg) brightness(130%) contrast(105%);
}
.active-btn:hover {
  background-color:rgb(233, 176, 4);
  color: white;
}
.inactive-btn {
  padding: 8.5px 68px;
  border-radius: 25px;
}




/* section-post1 */
.user-name {
  font-size: 18px;
  color: black;
}
.user-name:hover {
  color: rgb(248, 187, 0);
}
.user-post {
  padding: 23px 16px 14px 16px;
}
.user-posting-time {
  font-size: 14px;
}
.hashtag {
  color: rgb(248, 187, 0);
}
.hashtag:hover {
  color: rgb(216, 176, 57);
}
.like {
  margin-right: -10px;
}
.like-send-btn {
  margin-bottom: 24px;
}
.like-send-btn2 {
  margin-bottom: 8px;
}
.like-comment-box {
  padding: 10.5px 24px;
}
.comment-user-name {
  font-family: CircularPro-Bold;
  font-size: 16px;
  color: black;
}
.comment-user-name:hover {
color: rgb(248, 187, 0);
}
.reply {
  color: #808080;
  font-size: 14px;
}
.comment-hr {
  border-top: 1px solid #808080;
  margin: 17px 0;
}
.comment-p {
  color: black;
}
.radius-input::placeholder {
  font-family: CircularPro-Book;
  font-size: 14px;
  color: #808080;
  padding-left: 10px;
}

.comment-input-box {
  padding: 21px 32px 21px 32px;
  background-color: #f9f9f9;
}
.radius-input{
  border-radius: 25px;
  border-color: #d9d9d9;
}
.post-btn {
  background-color: rgb(248, 187, 0);
  color: white;
  border-color: rgb(248, 187, 0);
  padding: 0 34px;
}
.post-btn:hover {
  background-color: white;
  color: rgb(248, 187, 0);
  border-color: rgb(248, 187, 0);
}



/* section */
.img-border {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 24px;
  padding: 18.5px 0;
}
.exernal-link-icon {
  position: absolute;
  top: 17px;
  right: 19px;
}
.car-gap {
  margin-bottom: 5px;
}
.img-box {
  padding-left: 25px;
  padding-right: 8px;
}
.polestar2 {
  font-size: 18px;
  padding-right: 76px;
}
.polestar2 u {
  color: rgb(248, 187, 0);
}
.polestar2 u:hover {
  color: rgb(216, 176, 57);
}
.underscore {
  line-height: 15px;
}
.comment-sticer {
  padding: 29px 8px;
}
.btn-setter {
  width: 80px;
  height: 80px; 
  border-radius: 50%; 
  top: calc(50% - 40px); 
  left: calc(50% - 40px); 
  /* margin-top:-18px; 
  margin-left:-54px; */
  margin-top: 3%;
  margin-left: -2%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.749);
  border: 4px solid white;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive-16by9 {
  height: 56.25%;
}

.comment-img {
  width: 105px;
}
.sticer-comment-box {
  padding: 3px 16px 7px 16px;
}
.center-icon:hover, .bell-img:hover, .profile-caret:hover {
  filter: invert(72%) sepia(34%) saturate(0%) hue-rotate(149deg) brightness(15%) contrast(116%);
}
.center-icon {
  filter: invert(97%) sepia(1%) saturate(0%) hue-rotate(179deg) brightness(50%) contrast(86%);
}

@media (max-width: 1750px) {
  .navbar {
    padding-bottom: 0;
  }
  .container-fluid {
    max-width: 770px;
  }
  .my-navbar-collapse {
    flex-basis: calc(100% - 77px);
  }
  .center-navbar-items-wrapper {
    position: relative !important;
    flex-basis: 100%;
    left: 0;
  }
  .center-navbar-items {
    padding: 17px 0 0 7px;
  }
  .center-icon {
    width: 25px;
  }
  .logo {
    padding-left: 0;
    height: 37px;
  }
  .profile {
    padding-right: 0;
  }
  .posting-section {
    padding-top: 165px;
  }
}
 
@media (max-width: 991px) {
  .img-box, .img-desc {
    padding: 0 24px;
  }
  .posting-btns {
    padding: 11px 11px 11px 11px;
  }
  .active-btn, .inactive-btn {
    padding: 8.5px 35px;
  }
  .polestar2 {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .my-navbar-collapse {
    flex-basis: 100%;
  }
  .center-navbar-item {
    padding: 12px 8px 12px 8px;
  }
  .show-notification-dot::after{
    left: 25px;
  }
  .profile {
    justify-content: center;
    padding-top: 0;
  } 
  .btn-setter {
    height: 50px;
    width: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    font-size: 10px;
  }
  .user-post {
    padding: 23px 5px 14px 5px;
  }
  .like-comment-box {
    padding: 10.5px 13px;
  }
  .comment-box img, .comment-img {
    width: 60px;
  }
  .comment-sticer {
    padding: 10px 8px;
  }
  .like-comment-box div button img {
    width: 30px;
  }
  .img-box, .img-desc {
    padding: 0 13px;
  }
 }
 @media (max-width: 475px) {
  .post-input::placeholder {
    font-size: 14px;
  }
 }
 @media (max-width: 400px) {
  .post-input::placeholder {
    font-size: 10px;
  }
  .post-btn {
    padding: 0 15px;
  }
 }
 @media (max-width: 320px) {
  .like-comment-box div button img {
    width: 25px;
  }
 }
 