/* font-start */
@font-face {
  font-family: Circular-Medium;
  src: url(../fonts/Circular-Medium.ttf);
}
.font-circular-medium {
  font-family: Circular-Medium !important;
}
@font-face {
  font-family: CircularPro-Bold;
  src: url(../fonts/lineto-circular-pro-bold-webfont.ttf);
}
.font-CircularPro-Bold {
  font-family: CircularPro-Bold !important;
}
@font-face {
  font-family: CircularPro-Book;
  src: url(../fonts/lineto-circular-pro-book-webfont.ttf);
}
.font-CircularPro-Book {
  font-family: CircularPro-Book !important;
}
/* font-end */
.container {
  max-width: 770px;
}
body {
  font-family: Circular-Medium;
}
p {
  font-family: CircularPro-Book;
  color: #808080;
}
.automobiles {
  color: rgb(248, 187, 0);
  font-size: 16px;
  padding: 13px;
}




.my-navbar {
  padding-top: 13px;
 }
 .my-navbar-search {
  padding-left: 15px;
 }
 .center-navbar-items {
  max-width: 750px;
  padding: 10px 30px 0 15px;
 }
 .profile {
  padding-top: 5px;
  padding-right: 20px;
 }
 .bell-dropdown-link {
  padding-right: 30px;
 }
 .profile-pic {
  padding-right: 10px;
 }
 .profile-dropdown-link {
  text-decoration: none;
  color: #000000 !important;
 }
 .profile-user-name {
  font-size: 16px;
 }
 .profile-caret {
  padding-left: 10px;
 }
 






.search-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(29, 26, 27, 0.2);
  border-radius: 25px;
}
.search-input::placeholder {
  font-family: CircularPro-Book;
  font-size: 16px;
}
.search-input {
    padding: 10px 10px 10px 10px;
}
.logo {
  padding-left: 10px;
}
.navbar-height {
  line-height: 43px;
}


/* sections-posting */
.posting-section {
  padding: 55px 0 87px 0;
}
.post-input::placeholder {
  font-family: CircularPro-Book;
  font-size: 18px;
}
.posting-container {
  /* padding: 0 42.5px; */
  margin-bottom: 87px;
}
.posting-box {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px 0px rgba(29, 26, 27, 0.1);
  /* padding: 11px 11px 6px 11px; */
}
.posting-form {
  padding-bottom: 19px;
  padding: 11px 11px 6px 11px;
}
.posting-btns {
  padding: 11px 11px 6px 11px;
  border-top: 2px dotted #ebebeb;
}
.active-btn {
  background-color: rgb(248, 187, 0);
  color: white;
  padding: 8.5px 68px;
  border-radius: 25px;
}
.inactive-btn:hover {
  background-color: white;
  border: 1px solid rgb(248, 187, 0);
  color: rgb(248, 187, 0);
}
.active-btn:hover {
  background-color: rgb(216, 176, 57);
  color: white;
}
.inactive-btn {
  padding: 8.5px 68px;
  border-radius: 25px;
}


/* section-post1 */
.user-name {
  font-size: 18px;
}
.user-post {
  padding: 23px 16px 14px 16px;
}
.user-posting-time {
  font-size: 14px;
}
.hashtag {
  color: rgb(248, 187, 0);
}
.hashtag:hover {
  color: rgb(216, 176, 57);
}
.like {
  margin-right: -10px;
}
.like-send-btn {
  margin-bottom: 24px;
}
.like-comment-box {
  padding: 12px 23px;
}
.comment-user-name {
  font-family: CircularPro-Bold;
  font-size: 16px;
}
.reply {
  color: #808080;
  font-size: 14px;
}
.comment-hr {
  border-top: 1px solid #808080;
  margin: 17px 0;
}
.comment-p {
  color: black;
}
.radius-input::placeholder {
  font-family: CircularPro-Book;
  font-size: 14px;
  color: #808080;
  padding-left: 10px;
}
.comment-input-box {
  padding: 19px 32px 22px 32px;
  background-color: #f9f9f9;
}
.radius-input{
  border-radius: 25px;
  border-color: #d9d9d9;
}
.post-btn {
  background-color: rgb(248, 187, 0);
  color: white;
  border-color: rgb(248, 187, 0);
  padding: 0 34px;
}
.post-btn:hover {
  background-color: white;
  color: rgb(248, 187, 0);
  border-color: rgb(248, 187, 0);
}



/* section */
.img-border {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 24px;
  padding: 19px 0;
}
.exernal-link-icon {
  position: absolute;
  top: -5px;
  left: 36px;
}
.img-box {
  padding-left: 25px;
  padding-right: 8px;
}
.polestar2 {
  font-size: 18px;
  padding-right: 76px;
}
.polestar2 u {
  color: rgb(248, 187, 0);
}
.polestar2 u:hover {
  color: rgb(216, 176, 57);
}
.underscore {
  line-height: 15px;
}

.comment-sticer {
  padding: 28px 4px;
}
.btn-setter {
  width: 80px;
  height: 80px; 
  border-radius: 50%; 
  top: calc(50% - 40px); 
  left: calc(50% - 40px); 
  /* margin-top:-18px; 
  margin-left:-54px; */
  margin-top: 3%;
  margin-left: -2%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.749);
  border: 4px solid white;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive-16by9 {
  height: 56.25%;
}




@media (max-width: 1750px) {
  .container-fluid {
    max-width: 770px;
  }
  .center-navbar-items {
    display: block;
    clear: both;
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    padding-left: 0;
    height: 37px;
  }
 
  .brand, .profile {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .profile {
    padding-right: 0;
  }
 
}
@media (max-width: 550px) {
  .brand, .profile {
    float: none !important;
    justify-content: center;
  }
  .profile {
    padding-top: 0;
  }
  .center-icon {
    width: 30px;
  }
  .btn-setter {
    height: 50px;
    width: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    font-size: 10px;
  }
 }
 
 
